page-reward-modal {
	ion-toolbar {
		text-align: center;
	}
	.text-align {
		position: relative;
		text-align: center;
		top: 5em;
		width: 100%;
	}
	.text-format {
		color: #fff;
		font-size: 2em;
		font-weight: bold;
	}
}
